@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --bgColor--: #E6F0FF;
    --btnColor--: #0F1B4C;
}

body {
    @apply bg-[--bgColor--] overflow-x-hidden
}

.Seller {
    @apply -translate-x-[100%]
}

.inner-container {
    @apply w-[90%] h-[45%] flex justify-between;
}

.first,
.second {
    @apply flex flex-col justify-evenly w-[33.33%]
}

.containers {
    @apply w-full h-[100vh] flex flex-col items-center justify-center
}

.loader {
    @apply w-[100vw] h-[100vh] flex justify-center items-center
}

.loader img {
    @apply h-[100px] w-[100px]
}


input {
    @apply rounded-full h-10 outline-none p-4 w-5/6 my-2
}

.bgLogin {
    background-image: url("https://img.freepik.com/free-vector/end-quarantine-concept_23-2148554365.jpg?t=st=1720971819~exp=1720975419~hmac=45007c19261484a0bff1a4e0a34140e3e5880f4ebe15643172aad09917e02885&w=1060");
    background-position: top;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    /* background-size: cover; */
}

.bgContact {
    background-image: url("./assets/icon/bg.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}